.cart-table{
    margin-top: 50px;
}
.cart-table-tr > td{
    border-top: none !important;
    border-bottom: 1px solid #ddd !important;
}
.cart-table-img{
    width: 14%;
}
.cart-table-item{
    width: 40%;
}
.cart-table-qty{
    width: 20%;
    padding-top: 44px !important;
}
.cart-table-total{
    width: 10%;
    padding-top: 40px !important;
}
.cart-table-action{
    width: 10%;
    padding-top: 54px !important;
}
.cart-table-remove{
    background-image: url("../../images/remove_icon.png");
    float: right;
    margin-right: 10px;
    background-repeat: no-repeat;
    width: 16px;
    cursor: pointer;
}
.cart-table-price{
    font-size: 24px;
    font-weight: 600;
    margin-left: 7px;
}
.cart-table-mrp{
    font-size: 16px;
    font-weight: 600;
    color: #525252;
}
.cart-table-prod_id{
    color: #ccc;
    margin: 4px 0px 0px !important;
}
.cart-table-totalrow{
    position: sticky !important;
    background-color: green !important;
    padding: 12px 10px;
    bottom: 0;
    color: #fff;
    height: 80px;
    font-size: 20px;
}
.cart-table-totalprice{
    font-size: 40px;
    font-weight: 500;
}
.cart-loading, .cart-loading-success{
    margin-top: 200px;
}
.cart-loading > h1 h2{
    color: #7ac142;
}
.cart-loading-success > h1 {
    color: #7ac142;
    font-weight: 200;
    font-size: 48px;
}
/* check */
.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #000;
    stroke-miterlimit: 10;
    margin: 5% auto;
    margin-bottom:6%;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    stroke-width: 2px;
    stroke: #7ac142;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 10px #7ac142;
    }
  }
  .popup-inner-cart-text{
    margin-top: 20px;
    font-size: 22px;
  }
  .c_round_btn{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #d6d6d6;
    
  }
  .c_cart_count{
    width: 38px;
    text-align: right;
  }
  .c_confirmorder_loader{
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }