.cart-table{
    margin-top: 50px;
}
.cart-table-tr > td{
    border-top: none !important;
    border-bottom: 1px solid #ddd !important;
}
.cart-table-tr:hover{
  background-color: #fff !important;
}
.cart-table-img{
    width: 14%;
}
.cart-table-item{
    width: 40%;
}
.cart-table-qty{
    width: 20%;
    padding-top: 44px !important;
}
.cart-table-total{
    width: 10%;
    padding-top: 40px !important;
}
.cart-table-action{
    width: 10%;
    padding-top: 54px !important;
}
.cart-table-remove{
    background-image: url("../../images/remove_icon.png");
    float: right;
    margin-right: 10px;
    background-repeat: no-repeat;
    width: 16px;
    cursor: pointer;
}
.cart-table-price{
    font-size: 24px;
    font-weight: 600;
    margin-left: 7px;
}
.cart-table-mrp{
    font-size: 16px;
    font-weight: 600;
    color: #525252;
}
.cart-table-prod_id{
    color: #ccc;
    margin: 4px 0px 0px !important;
}
.cart-table-totalrow{
    position: sticky !important;
    background-color: green !important;
    padding: 12px 10px;
    bottom: 0;
    color: #fff;
    height: 80px;
    font-size: 20px;
}
.cart-table-totalprice{
    font-size: 40px;
    font-weight: 500;
}
.cart-loading, .cart-loading-success{
    margin-top: 200px;
}
.cart-loading > h1 h2{
    color: #7ac142;
}
.cart-loading-success > h1 {
    color: #7ac142;
    font-weight: 200;
    font-size: 48px;
}
/* check */
.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #000;
    stroke-miterlimit: 10;
    margin: 5% auto;
    margin-bottom:6%;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    stroke-width: 2px;
    stroke: #7ac142;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 10px #7ac142;
    }
  }
  .popup-inner-cart-text{
    margin-top: 20px;
    font-size: 22px;
  }
  .c_round_btn{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #d6d6d6;
    
  }
  .c_cart_count{
    width: 38px;
    text-align: right;
  }
  .c_confirmorder_loader{
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }
  /*  */
  /* The Modal (background) */
.modal_c {
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content_c {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close_c {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_c:hover,
  .close_c:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header_c {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
  }
  
  .modal-body_c {padding: 2px 16px;}
  
  .modal-footer_c {
    padding: 10px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: right;
  }
  .c_btn_un{
    padding: 10px 40px !important;
    font-size: 16px !important;
    background-color: #FF5722 !important;
  }
  .c_btn_un:hover, c_btn_un:focus{
      color: #fff;
  }