.searching{
    height:45px !important;
     border-radius: 10px !important;
     border-top-right-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
 }
 .home_search_icon{
    height:45px;
    height: 45px;
    width: 55px;
    border-radius: 0px 10px 10px 0px;
    background-color: #7ac142;
}
.c_home_search_all{
    float: right;
    width: 60%;
    margin-top: 30px;
}
.c_home_searchbar{
    padding-bottom: 20px;
}
.c_navbar{
    background-color: #46b300;
    border-radius: 0px !important;
    color: white;
    margin-bottom: 0px;
}
.c_nav_items > li > a{
    color: #fff;
}
a.active{
    background-color: #399100 !important;
    font-weight: bold;
}
.c_nav_items > li > a:hover{
    background-color: #399100 !important;
}
.c_nav_items > li > a:focus{
    background-color: #ccc !important;
}
.home_slide{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.mypage-slide{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* topnavsm */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    width: 250px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.c_topnav-small-logo{
    width: 58px;
    height: 44px;
    margin-top: -4px;
    margin-left: 10px;
}
.c_topnav-small-cart_ic{
    float: right;
}
.c_location_change_bill{
    color: #005999;
}
.c_location_change_bill:hover{
    cursor: pointer;
    text-decoration: underline;
}
.c_location_change{
    display: none;
}
.c_location_change_btn{
    color: #005999;
}
.c_location_change_btn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.popup-inner-location{
    text-align: center;
}
/*  */
  
  .button-badge:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .badge {
    position: absolute;
    top: 4px;
    right: 1px;
    font-size: 16px;
  }
