.searching{
    height:45px !important;
     border-radius: 10px !important;
     border-top-right-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
 }
 .home_search_icon{
    height:45px;
    height: 45px;
    width: 55px;
    border-radius: 0px 10px 10px 0px;
    background-color: #7ac142;
}
.c_home_search_all{
    float: right;
    width: 60%;
}
.c_home_searchbar{
    padding-top: 30px;
    padding-bottom: 20px;
}
.c_navbar{
    background-color: #46b300;
    border-radius: 0px !important;
    color: white;
    margin-bottom: 0px;
}
.c_nav_items > li > a{
    color: #fff;
}
.c_nav_items > li > a:hover{
    background-color: #60b51d !important;
}
.home_slide{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.mypage-slide{
    padding-left: 0px !important;
    padding-right: 0px !important;
}