.c_login{
    width: 320px;
    margin: auto;
}
.c_login > h1{
    font-weight: 200;
    color: #7ac142;
}
.c_login > h3{
    font-weight: 200;
    color: #7ac142;
}
.c_login_btn{
    width: 100%;
    margin-top: 20px;
    background-color: #7ac142;
    color: white;
}
.c_error_msg{
    float: right;
    font-size: 12px;
    color: red;
}
.c_label{
    color: #7ac142;
    font-weight: 400;
}
.c_input{
    border: 1px solid #7ac142;
}