.empty-cart{
    text-align: center;
    margin-top: 40px;
}
.c_cart_totalbill{
    color: black;
    padding: 10px 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .c_bill_expand{
    width: 304px;
    height: 304px;
    border: 2px solid #d6d6d6;
    background-color: white;
    left: -300px;
    position: absolute;
    z-index: 50;
    display: none;
    box-shadow: 6px 10px 24px -2px;
    top: 100px;
  }
  .c_bill_itemimage:hover ~ .c_bill_expand{
    display: block;
  }