.empty-cart{
    text-align: center;
    margin-top: 40px;
}
.c_cart_totalbill{
    background-color: green;
    color: white;
    padding: 10px 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }